<h1>Listing reviewers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Reviewer type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviewers.each do |reviewer| %>
  <tr>
    <td><%= reviewer.name %></td>
    <td><%= reviewer.nickname %></td>
    <td><%= reviewer.email %></td>
    <td><%= reviewer.reviewer_type %></td>
    <td><%= link_to 'Show', reviewer %></td>
    <td><%= link_to 'Edit', edit_reviewer_path(reviewer) %></td>
    <td><%= link_to 'Destroy', reviewer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reviewer', new_reviewer_path %>
