<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reviewer.name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @reviewer.nickname %>
</p>

<p>
  <b>Email:</b>
  <%= @reviewer.email %>
</p>

<p>
  <b>Reviewer type:</b>
  <%= @reviewer.reviewer_type %>
</p>


<%= link_to 'Edit', edit_reviewer_path(@reviewer) %> |
<%= link_to 'Back', reviewers_path %>
