<%= form_for(@machine_manufacturer) do |f| %>
  <% if @machine_manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine_manufacturer.errors.count, "error") %> prohibited this machine_manufacturer from being saved:</h2>

      <ul>
      <% @machine_manufacturer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :types %><br />
    <%= f.text_field :types %>
  </div>
  <div class="field">
    <%= f.label :groups %><br />
    <%= f.text_field :groups %>
  </div>
  <div class="field">
    <%= f.label :models %><br />
    <%= f.text_field :models %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
