<h1>Listing machine_manufacturers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Types</th>
    <th>Groups</th>
    <th>Models</th>
    <th>Website</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machine_manufacturers.each do |machine_manufacturer| %>
  <tr>
    <td><%= machine_manufacturer.name %></td>
    <td><%= machine_manufacturer.types %></td>
    <td><%= machine_manufacturer.groups %></td>
    <td><%= machine_manufacturer.models %></td>
    <td><%= machine_manufacturer.website %></td>
    <td><%= machine_manufacturer.comments %></td>
    <td><%= link_to 'Show', machine_manufacturer %></td>
    <td><%= link_to 'Edit', edit_machine_manufacturer_path(machine_manufacturer) %></td>
    <td><%= link_to 'Destroy', machine_manufacturer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine manufacturer', new_machine_manufacturer_path %>
