<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_manufacturer.name %>
</p>

<p>
  <b>Types:</b>
  <%= @machine_manufacturer.types %>
</p>

<p>
  <b>Groups:</b>
  <%= @machine_manufacturer.groups %>
</p>

<p>
  <b>Models:</b>
  <%= @machine_manufacturer.models %>
</p>

<p>
  <b>Website:</b>
  <%= @machine_manufacturer.website %>
</p>

<p>
  <b>Comments:</b>
  <%= @machine_manufacturer.comments %>
</p>


<%= link_to 'Edit', edit_machine_manufacturer_path(@machine_manufacturer) %> |
<%= link_to 'Back', machine_manufacturers_path %>
