<h1>Listing roasters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Blends</th>
    <th>Website</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roasters.each do |roaster| %>
  <tr>
    <td><%= roaster.name %></td>
    <td><%= roaster.blends %></td>
    <td><%= roaster.website %></td>
    <td><%= roaster.comments %></td>
    <td><%= link_to 'Show', roaster %></td>
    <td><%= link_to 'Edit', edit_roaster_path(roaster) %></td>
    <td><%= link_to 'Destroy', roaster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Roaster', new_roaster_path %>
