<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @roaster.name %>
</p>

<p>
  <b>Blends:</b>
  <%= @roaster.blends %>
</p>

<p>
  <b>Website:</b>
  <%= @roaster.website %>
</p>

<p>
  <b>Comments:</b>
  <%= @roaster.comments %>
</p>


<%= link_to 'Edit', edit_roaster_path(@roaster) %> |
<%= link_to 'Back', roasters_path %>
