<%= form_for(@cup_manufacturer) do |f| %>
  <% if @cup_manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cup_manufacturer.errors.count, "error") %> prohibited this cup_manufacturer from being saved:</h2>

      <ul>
      <% @cup_manufacturer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
