<h1>Listing cup_manufacturers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Website</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cup_manufacturers.each do |cup_manufacturer| %>
  <tr>
    <td><%= cup_manufacturer.name %></td>
    <td><%= cup_manufacturer.description %></td>
    <td><%= cup_manufacturer.website %></td>
    <td><%= cup_manufacturer.comments %></td>
    <td><%= link_to 'Show', cup_manufacturer %></td>
    <td><%= link_to 'Edit', edit_cup_manufacturer_path(cup_manufacturer) %></td>
    <td><%= link_to 'Destroy', cup_manufacturer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cup manufacturer', new_cup_manufacturer_path %>
