<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cup_manufacturer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @cup_manufacturer.description %>
</p>

<p>
  <b>Website:</b>
  <%= @cup_manufacturer.website %>
</p>

<p>
  <b>Comments:</b>
  <%= @cup_manufacturer.comments %>
</p>


<%= link_to 'Edit', edit_cup_manufacturer_path(@cup_manufacturer) %> |
<%= link_to 'Back', cup_manufacturers_path %>
