<%= form_for(@coffee_house) do |f| %>
  <% if @coffee_house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coffee_house.errors.count, "error") %> prohibited this coffee_house from being saved:</h2>

      <ul>
      <% @coffee_house.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :roaster %><br />
    <%= f.text_field :roaster %>
  </div>
  <div class="field">
    <%= f.label :cup_manufacturer %><br />
    <%= f.text_field :cup_manufacturer %>
  </div>
  <div class="field">
    <%= f.label :machine_manufacturer %><br />
    <%= f.text_field :machine_manufacturer %>
  </div>
  <div class="field">
    <%= f.label :reviewer %><br />
    <%= f.text_field :reviewer %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :type_of_establishment %><br />
    <%= f.text_field :type_of_establishment %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
