<h1>Listing coffee_houses</h1>

<table>
  <tr>
    <th>Roaster</th>
    <th>Cup manufacturer</th>
    <th>Machine manufacturer</th>
    <th>Reviewer</th>
    <th>Name</th>
    <th>Hours</th>
    <th>Type of establishment</th>
    <th>Website</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coffee_houses.each do |coffee_house| %>
  <tr>
    <td><%= coffee_house.roaster %></td>
    <td><%= coffee_house.cup_manufacturer %></td>
    <td><%= coffee_house.machine_manufacturer %></td>
    <td><%= coffee_house.reviewer %></td>
    <td><%= coffee_house.name %></td>
    <td><%= coffee_house.hours %></td>
    <td><%= coffee_house.type_of_establishment %></td>
    <td><%= coffee_house.website %></td>
    <td><%= coffee_house.comments %></td>
    <td><%= link_to 'Show', coffee_house %></td>
    <td><%= link_to 'Edit', edit_coffee_house_path(coffee_house) %></td>
    <td><%= link_to 'Destroy', coffee_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coffee house', new_coffee_house_path %>
