<p id="notice"><%= notice %></p>

<p>
  <b>Roaster:</b>
  <%= @coffee_house.roaster %>
</p>

<p>
  <b>Cup manufacturer:</b>
  <%= @coffee_house.cup_manufacturer %>
</p>

<p>
  <b>Machine manufacturer:</b>
  <%= @coffee_house.machine_manufacturer %>
</p>

<p>
  <b>Reviewer:</b>
  <%= @coffee_house.reviewer %>
</p>

<p>
  <b>Name:</b>
  <%= @coffee_house.name %>
</p>

<p>
  <b>Hours:</b>
  <%= @coffee_house.hours %>
</p>

<p>
  <b>Type of establishment:</b>
  <%= @coffee_house.type_of_establishment %>
</p>

<p>
  <b>Website:</b>
  <%= @coffee_house.website %>
</p>

<p>
  <b>Comments:</b>
  <%= @coffee_house.comments %>
</p>


<%= link_to 'Edit', edit_coffee_house_path(@coffee_house) %> |
<%= link_to 'Back', coffee_houses_path %>
