<%= form_for(@coffee_rating) do |f| %>
  <% if @coffee_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coffee_rating.errors.count, "error") %> prohibited this coffee_rating from being saved:</h2>

      <ul>
      <% @coffee_rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coffee_house %><br />
    <%= f.text_field :coffee_house %>
  </div>
  <div class="field">
    <%= f.label :reviewer %><br />
    <%= f.text_field :reviewer %>
  </div>
  <div class="field">
    <%= f.label :barista_rate %><br />
    <%= f.number_field :barista_rate %>
  </div>
  <div class="field">
    <%= f.label :savvy_rate %><br />
    <%= f.number_field :savvy_rate %>
  </div>
  <div class="field">
    <%= f.label :ambiance_rate %><br />
    <%= f.number_field :ambiance_rate %>
  </div>
  <div class="field">
    <%= f.label :presentation_rate %><br />
    <%= f.number_field :presentation_rate %>
  </div>
  <div class="field">
    <%= f.label :aroma_rate %><br />
    <%= f.number_field :aroma_rate %>
  </div>
  <div class="field">
    <%= f.label :body_rate %><br />
    <%= f.number_field :body_rate %>
  </div>
  <div class="field">
    <%= f.label :brightness_rate %><br />
    <%= f.number_field :brightness_rate %>
  </div>
  <div class="field">
    <%= f.label :crema_rate %><br />
    <%= f.number_field :crema_rate %>
  </div>
  <div class="field">
    <%= f.label :flavor_rate %><br />
    <%= f.number_field :flavor_rate %>
  </div>
  <div class="field">
    <%= f.label :taster_correction %><br />
    <%= f.text_field :taster_correction %>
  </div>
  <div class="field">
    <%= f.label :consistency %><br />
    <%= f.text_field :consistency %>
  </div>
  <div class="field">
    <%= f.label :primary_taste %><br />
    <%= f.text_field :primary_taste %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :cafe_r %><br />
    <%= f.text_field :cafe_r %>
  </div>
  <div class="field">
    <%= f.label :coffee_r %><br />
    <%= f.text_field :coffee_r %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
