<h1>Listing coffee_ratings</h1>

<table>
  <tr>
    <th>Coffee house</th>
    <th>Reviewer</th>
    <th>Barista rate</th>
    <th>Savvy rate</th>
    <th>Ambiance rate</th>
    <th>Presentation rate</th>
    <th>Aroma rate</th>
    <th>Body rate</th>
    <th>Brightness rate</th>
    <th>Crema rate</th>
    <th>Flavor rate</th>
    <th>Taster correction</th>
    <th>Consistency</th>
    <th>Primary taste</th>
    <th>Size</th>
    <th>Price</th>
    <th>Cafe r</th>
    <th>Coffee r</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coffee_ratings.each do |coffee_rating| %>
  <tr>
    <td><%= coffee_rating.coffee_house %></td>
    <td><%= coffee_rating.reviewer %></td>
    <td><%= coffee_rating.barista_rate %></td>
    <td><%= coffee_rating.savvy_rate %></td>
    <td><%= coffee_rating.ambiance_rate %></td>
    <td><%= coffee_rating.presentation_rate %></td>
    <td><%= coffee_rating.aroma_rate %></td>
    <td><%= coffee_rating.body_rate %></td>
    <td><%= coffee_rating.brightness_rate %></td>
    <td><%= coffee_rating.crema_rate %></td>
    <td><%= coffee_rating.flavor_rate %></td>
    <td><%= coffee_rating.taster_correction %></td>
    <td><%= coffee_rating.consistency %></td>
    <td><%= coffee_rating.primary_taste %></td>
    <td><%= coffee_rating.size %></td>
    <td><%= coffee_rating.price %></td>
    <td><%= coffee_rating.cafe_r %></td>
    <td><%= coffee_rating.coffee_r %></td>
    <td><%= link_to 'Show', coffee_rating %></td>
    <td><%= link_to 'Edit', edit_coffee_rating_path(coffee_rating) %></td>
    <td><%= link_to 'Destroy', coffee_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coffee rating', new_coffee_rating_path %>
