<p id="notice"><%= notice %></p>

<p>
  <b>Coffee house:</b>
  <%= @coffee_rating.coffee_house %>
</p>

<p>
  <b>Reviewer:</b>
  <%= @coffee_rating.reviewer %>
</p>

<p>
  <b>Barista rate:</b>
  <%= @coffee_rating.barista_rate %>
</p>

<p>
  <b>Savvy rate:</b>
  <%= @coffee_rating.savvy_rate %>
</p>

<p>
  <b>Ambiance rate:</b>
  <%= @coffee_rating.ambiance_rate %>
</p>

<p>
  <b>Presentation rate:</b>
  <%= @coffee_rating.presentation_rate %>
</p>

<p>
  <b>Aroma rate:</b>
  <%= @coffee_rating.aroma_rate %>
</p>

<p>
  <b>Body rate:</b>
  <%= @coffee_rating.body_rate %>
</p>

<p>
  <b>Brightness rate:</b>
  <%= @coffee_rating.brightness_rate %>
</p>

<p>
  <b>Crema rate:</b>
  <%= @coffee_rating.crema_rate %>
</p>

<p>
  <b>Flavor rate:</b>
  <%= @coffee_rating.flavor_rate %>
</p>

<p>
  <b>Taster correction:</b>
  <%= @coffee_rating.taster_correction %>
</p>

<p>
  <b>Consistency:</b>
  <%= @coffee_rating.consistency %>
</p>

<p>
  <b>Primary taste:</b>
  <%= @coffee_rating.primary_taste %>
</p>

<p>
  <b>Size:</b>
  <%= @coffee_rating.size %>
</p>

<p>
  <b>Price:</b>
  <%= @coffee_rating.price %>
</p>

<p>
  <b>Cafe r:</b>
  <%= @coffee_rating.cafe_r %>
</p>

<p>
  <b>Coffee r:</b>
  <%= @coffee_rating.coffee_r %>
</p>


<%= link_to 'Edit', edit_coffee_rating_path(@coffee_rating) %> |
<%= link_to 'Back', coffee_ratings_path %>
