<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Addressable</th>
    <th>Addressable type</th>
    <th>Street line 1</th>
    <th>Street line 2</th>
    <th>Neighborhood</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Zip code</th>
    <th>Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.addressable_id %></td>
    <td><%= address.addressable_type %></td>
    <td><%= address.street_line_1 %></td>
    <td><%= address.street_line_2 %></td>
    <td><%= address.neighborhood %></td>
    <td><%= address.city %></td>
    <td><%= address.state %></td>
    <td><%= address.country %></td>
    <td><%= address.zip_code %></td>
    <td><%= address.phone_number %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
