<p id="notice"><%= notice %></p>

<p>
  <b>Addressable:</b>
  <%= @address.addressable_id %>
</p>

<p>
  <b>Addressable type:</b>
  <%= @address.addressable_type %>
</p>

<p>
  <b>Street line 1:</b>
  <%= @address.street_line_1 %>
</p>

<p>
  <b>Street line 2:</b>
  <%= @address.street_line_2 %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @address.neighborhood %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Country:</b>
  <%= @address.country %>
</p>

<p>
  <b>Zip code:</b>
  <%= @address.zip_code %>
</p>

<p>
  <b>Phone number:</b>
  <%= @address.phone_number %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
